html {
    text-align: center;
}
button {
    padding: 13px;
    transition: 0.2s ease-in-out;

}
.E:hover{
    background-color: rgb(136, 17, 17);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.P:hover{
    background-color: rgb(83, 83, 83);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.C:hover{
    background-color: #047a63;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
a {
     text-decoration: none;
     color: white;
    
}
.C {
     background-color: #0CA789;
     border: none;
     border-radius: 20px;
     margin: 8px;
     width: 100px;
}

.E {
    background-color: #EB4045;
    border: none;
    border-radius: 20px;
    margin: 8px;
    width: 100px;
    
}
.P {
    background-color: rgb(175, 167, 167);
    border: none;
    border-radius: 20px;
    margin: 8px;
    width: 100px;

}
tr:nth-child(1) {
    background-color: black;
    color: white;
    border: none;
  }
  
  td, th {
    padding: 10px;
    text-align: start;
  }
  
 li {
    list-style: none;   
    padding: 10px;
    transition: 0.2s ease-in-out;
    border:  #0CA789 solid;
    border-radius: 10px;
    margin-left: 450px;
   margin-right: 500px;

 }
  
 li:nth-child(even){
    background-color:   #0CA789;
    color: white;
    border-radius: 10px;
    padding: 12px;
    margin: 15px;
    border: 2px solid;
    margin-left: 450px;
   margin-right: 500px;


 }
  li:hover {
    transform: scale(1.1);
  }