
div:first-child{

padding: 20px;
width: 400px;
height: 250px;
border: 2px solid black;


}

.div2 {

border: none;
height: 40px;
display: flex;
justify-content: space-between;
margin-top: 50px;


}

.excluir {

   padding-left: 50px;
   padding-right: 50px;
   

}

p {
   
    text-align: justify;
}

body, html {

    height: 100%;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

svg {

    width: 17px;

}

.icone {
    border-radius: 100%;
    position: absolute;
    top: -16px;
    right: -16px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    
}

.icone:hover{

    background-color: rgb(75, 1, 1);
    fill: white;
    cursor: pointer;


}


.container {

position: relative;

}